.formContainer {
    max-width: 900px;
    margin: auto;

    padding: 0 15px;

    @media screen and (min-width: 600px){
        padding: 0 50px;
    }

    background-color: $primary_color;
    color: $secondary_color;
}